// Here you can add other styles
//https://stackoverflow.com/questions/25311541/how-to-vertically-align-text-inside-a-flexbox
.flex-middle {
    display: flex;
    justify-content: center;
    flex-direction: column; //text-align: center;
}
